<div>
  <div>
    <h1>
      List of all rsvps
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new rsvp
    </h2>

    <form action="/insert_rsvp" method="post">
       

  <select name="query_food_id" id="food_id_box">
   <%  @list_of_foods.each do |food| %>
      <option value="<%= food.id %>">
        <%= food.title %>
      </option>
      <% end %>
 </select>

 <input type="hidden" id="user_id_box" name="query_user_id" value="<%= session.fetch(:user_id) %>">

      <button>
        Create rsvp
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border = 1>
      <tr>
        <th>
          RSVP #
        </th>

        <th>
          User
        </th>

        <th>
          Food
        </th>

      
      </tr>

      <% @list_of_rsvps.each do |a_rsvp| %>
      <tr>
        <td>
          <%= a_rsvp.id %>
        </td>

        <td>
          <%= a_rsvp.user.first_name %>
          <%#make this a username%>
        </td>

        <td>
          <%= a_rsvp.food.title %>
        </td>

        

        <td>
          <a href="/rsvps/<%= a_rsvp.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
