<div>
  <div>
    <h1>
      FREE FOOD FOR YOU!
    </h1>
  </div>
</div>

<div>

<% if @current_user != nil %>
  <div>
      <%# api insert text thing %>
      <form action="/notifications" method="post" class="form-horizontal" >

       <div>
        <label for="user_id">
        Enter Email
        </label>

        <input type="text" id="user_id" name= "query_email" value=<%= @current_user.email %> placeholder= <%= @current_user.email %>> 
      </div> 

      <button type="button" class="btn btn-info">Sign up for mailing list! </button>

      
    </form>
  </div>
  <% end %>
</div>


<hr>

<div>
  <div>
    <h2>
      Got leftovers? Post them here:
    </h2>


    


<form action="/insert_food" method="post" class="form-horizontal" enctype="multipart/form-data">
      
      <div class="form-floating mb-3">
        <input type="text" class="form-control" 
        name="query_title" id="floatingInput" placeholder="Free bagels...">

        <label for="floatingInput">Title</label>
      </div>

      <div class="form-floating">
        <textarea name="query_caption" class="form-control"  id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Description</label>
      </div>
            
      <div class="form-floating mb-3">
        <input type="integer" class="form-control" 
        name="query_meals_avaliable" id="floatingInput" placeholder="How many do you have?">

        <label for="floatingInput">Meals Avaliable</label>
      </div>


      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image" class="form-control">
      </div>

      <div>
          <br>
      </div>

       <div class="form-floating mb-3">
        <input type="text" class="form-control" 
        name="user_address" id="floatingInput" placeholder="Where is this?">

        <label for="floatingInput">Location</label>
      </div>
      
      

      <%# <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div> %>

      <button class ="btn btn-danger">
        Create food
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="2">
      <tr border ="1">
        <%# <th>
          Free Food ID #
        </th> %>

        <th border = "1">
          Title
        </th>

        <th>
          Caption
        </th>

        <th>
          Meals avaliable
        </th>

        

        <th>
          Image
        </th>

        <th>
        </th>


        <th>
          Location
        </th>

 <th>
        </th>

        <th>
          Posted By
        </th>

        <%# <th>
          Created at
        </th> %>

        <%# <th>
          Updated at
        </th> %>

        
      </tr>

      <% @list_of_foods.each do |a_food| %>
      <tr>
        <%# <td>
          <%= a_food.id %>
        <%# </td> %> 

        <td>
          <%= a_food.title %>
        </td>

        <td>
          <%= a_food.caption %>
        </td>

        <td>
          
          <%= a_food.meals_avaliable.to_i - a_food.rsvps.count %> 
          
          <%#why did this stop working%>
          
        </td>

        <td>
        
          <img style="width: 200px; height: 200px;" src="<%= a_food.image %>">
        
        </td>

         <td>
            <br>
         </td>

         <td>
          <%= a_food.location %>  
         </td>


       
         <td>
            <br>
         </td>

        <td>
          <%= a_food.poster.first_name %>
          
        </td>

        <%# <td>
          <%# <%= time_ago_in_words(a_food.created_at) %> 
        <%# </td>
        <td>
          <%= time_ago_in_words(a_food.updated_at) %> 
        <%# </td> %>  

        <td>
          <a href="/foods/<%= a_food.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
