




<div>
  <div>
    <h1>
      Food #<%= @the_food.id %> details
    </h1>



<%#and if @user_bookmarks isnt signed in... How to tell if they are signed in?%>

  <% if @user_rsvps == nil %>
  <%# <% if @the_food.meals_avaliable.to_i - @the_food.rsvps.count =/= 0  %> 

<dt>RSVP for this meal</dt>
  <dd>
    <form action="/insert_rsvp" method="post" > 
      <label for="rsvped_meal"></label>
      <input id="rsvped_mealed" type="hidden" name="query_food_id" value="<%= @the_food.id %>">

      <label for="rsvper"></label>
      <input id="rsvper" type="hidden" name="query_user_id" value= "<%= session.fetch(:user_id) %>">

      <button>Free Food Coming!</button>
    </form>
  </dd>
  

  <% else %>
  <div>
        <a href="/delete_rsvp/<%= @user_rsvps.id %>">
           Un-RSVP from this meal
        </a>
      </div>
    </div>

  <% end %>
  <div>
    
  </div>

  <div>
  </div>




    <div>
      <div>
        <a href="/foods">
          Go back to home
        </a>
      </div>

<% if @current_user != nil %>
<% if @current_user.id == @the_food.user_id %>
      <div>
        <a href="/delete_food/<%= @the_food.id %>">
          Delete Free Food Posting
        </a>
      </div>
    </div>
<% end %>
<% end %>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_food.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_food.caption %>
      </dd>

      <dt>
        Meals avaliable
      </dt>
      <dd>
      
        <%= @the_food.meals_avaliable.to_i - @the_food.rsvps.count.to_i %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <img style="width: 300px; height: 300px;" src="<%= @the_food.image %>">
      </dd>

      <dt>
        Posted By
      </dt>
      <dd>
        <%= @the_food.poster.first_name %>
       
      </dd>

<% if @the_food.location != nil %>
      <dt>
        Location
      </dt>

      <dd> 
      
     
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src=<%= @map %>
</iframe>

    

    
      <dd>

 <% end %> 

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit food
    </h2>

    <form action="/modify_food/<%= @the_food.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title"><%= @the_food.title %></textarea>
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_food.caption %></textarea>
      </div>

      <div>
        <label for="meals_avaliable_box">
          Meals avaliable
        </label>

        <input type="text" id="meals_avaliable_box" name="query_meals_avaliable" value="<%= @the_food.meals_avaliable %>">
      </div>

      <div>
       <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image" value="<%= @the_food.image %> class="form-control">
        
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_food.user_id %>">
      </div>

      <button>
        Update food
      </button>
    </form>
  </div>
</div>



<hr>
