<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Must See Movies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/movies">Home</a>
            </li>
<% if @current_user == nil %>
           <li class="nav-item">
              <a class="nav-link" href="/user_sign_in"> Sign In </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/user_sign_up"> Sign Up </a>
            </li>
<% else %>
         

            <li class="nav-item">
              <a class="nav-link" href="/rsvps"><%= @current_user.first_name %>'s RSVPs</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="/user_sign_out"> Sign Out </a>
            </li>

  <% end %>

            

    
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <%# <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> %>
        </div>
      </div>
    </nav>










    <p style="color:green;">
<% notice%>
</p>

<p style="color:red;">
<%= alert %>
</p>

  
      <ul>

      <li>
          <a href="/"> Home</a>
        </li>

    <% if @current_user == nil %>
        <li>
          <a href="/user_sign_up"> Sign Up</a>
        </li>

       <li>
          <a href="/user_sign_in"> Sign In</a>
        </li>

        

  <% else %>
           <li>
          <a href="/user_sign_out"> Sign Out</a>
        </li>
        <li>
          <a href="/rsvps"> My RSVPs </a>
        </li>
        <li>
          User #<%= session.fetch(:user_id)%>
        </li>
  <% end %>

        
         
       

        
      <ul>
      <% if notice.present? %>

      <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>

      <% end %>

       <% if alert.present? %>
      <div class="alert alert-secondary" role="alert">
        <%= alert %>
      </div>
      <% end %>

  


    <%= yield %>
  </body>
</html>
