<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <p style="color:green;">
<% notice%>
</p>

<p style="color:red;">
<%= alert %>
</p>

  
      <ul>

      <li>
          <a href="/"> Home</a>
        </li>

    <% if @current_user == nil %>
        <li>
          <a href="/user_sign_up"> Sign Up</a>
        </li>

       <li>
          <a href="/user_sign_in"> Sign In</a>
        </li>

        

  <% else %>
           <li>
          <a href="/user_sign_out"> Sign Out</a>
        </li>
        <li>
          <a href="/rsvps"> My RSVPs </a>
        </li>
        <li>
          User #<%= session.fetch(:user_id)%>
        </li>
  <% end %>

        
         
       

        
      <ul>
      <% if notice.present? %>

       <div style = "border: thin red solid; color: green">
          <%= notice %>
      </div> 

      <% end %>

       <% if alert.present? %>
      <div style = "border: thin red solid; color: pink">
          <%= alert %>
      </div>
      <% end %>

  


    <%= yield %>
  </body>
</html>
